<% content_for :head do %>
  <meta name="description" content="">
  <title>Community Rewards | #1 in Resident Loyalty and Advocacy</title>


<!-- AddThis Smart Layers BEGIN -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50a66dcc73090c18"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'light',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 4
    }   
  });
</script>
<!-- AddThis Smart Layers END -->  
<% end %>

<div id="promotions">
  <div id="banner4" class="banner4">
    <div class="container"> 
      <!-- Description -->
      <div class="row promotions">
         
        <div class="col-sm-6 col-xs-12">
          <img src="https://s3.amazonaws.com/modernmsg/CR.me/cr-logo.png" alt="community-rewards" class="promo-logo">
          <div class="row resident">
              <p><strong>Complete Challenges. Earn Points. Win Rewards!</strong></p>  
          </div>
          <div class="row resident">
            <a href="http://modernmsg.com/signup"><button class="btn2">Request Demo</button></a>
            <a href="http://modernmsg.com/community-rewards"><button class="btn4">Take a Tour</button></a>
          </div>
          
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="image group">
            <img src="https://s3.amazonaws.com/modernmsg/CR.me/iphone1.png" alt="iphone5" class="promo-img">
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>

<!-- Features --> 

<div id="features">
  <div class="container">
    <div class="row introduction price">
       
       <div class="col-sm-6 col-xs-12">
        <div class="feature third">
          <h2>Win Rewards</h2>
          <p>Earn enough points and you can win some seriously awesome rewards. Seriously, we reward you just for living at this apartment!</p>
        </div>
        <div class="feature fourth">
          <h2>Resident's Only</h2>
          <p>Community Rewards is offered exclusively to our residents. Hurry up and sign that lease so you can start earning rewards today!</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="feature first">
          <h2>Complete Challenges</h2>
          <p>Every month new fun challenges await those brave enough to take them on. To those of you who are about to play, we salute you!</p>
        </div>
        <div class="feature second">
          <h2>Earn Points</h2>
          <p>Complete each challenge to earn bukoo points. The bigger the challenge the bigger the payoff</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /Features --> 

<!-- Clients -->
  <div id="clients" class="rewards">
    <div class="container">
      <div class="row clients">
        <div class="col-xs-12">
          <ul class="group">
            <li><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/amazon-sm.png" alt="Amazon Community Rewards"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/gilt-sm.png" alt="Campus Apartments"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/nike-sm.png" alt="Pegasus Ablon"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/homedepot.png" alt="Asset Campus"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/itunes-sm.png" alt="Grand Campus"/></a></li>
            <li><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/gap-sm.png" alt="Campus Advantage"/></a></li>
            <li class="last"><a href="#"><img src="https://s3.amazonaws.com/modernmsg/CR.me/columbia-sm.png" alt="National Apartment Association" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <!-- /Clients -->

    <!-- Footer --> 

<div id="promo-footer">
  <div class="container">
    <div class="row">
       <div class="col-sm-7 col-xs-12 promo-footer">
        <img src="https://s3.amazonaws.com/modernmsg/CR.me/cr-powered-by-logo.png">
      </div>
      <div class="col-sm-5 col-xs-12 promo-footer">
          <p><span>Sign up for a demo to get started today</span><br><br>
            Community Rewards is only available for residents of this apartment community. Rewards are subject to availability and may change without notice.
          </p>
      </div>
      
    </div>
  </div>
</div>

<!-- /Footer --> 