
        <div class="header-18">
            <div id="h-18-pt-main" class="header-18-sub page-transitions pt-perspective">
                <div class="pt-page pt-page-current">
                    <section class="header-18-section s1 bg-peter-river clearfix">
                        <div class="t-row">
                        <div>
                            <div class="background">&nbsp;</div>
                            <header>
                                <div class="container clearfix">
                                    <a class="brand" href="http://www.modernmsg.com"><img src="http://game.modernmsg.com/cr/images/logo1.png" width="100" height="100" alt=""></a>
                                </div>
                            </header>
                            <div class="container">
                                <div class="row">
                                    <div class="span5 offset1">
                                        <h3>The Only Resident Advocacy Platform Your Apartment Will Ever Need</h3>
                                        <div class="visible-phone text-center" style="margin-bottom: 30px"><img src="assets/browser-iphone@2x.png" width="300" height="300" alt="">
                                        </div>
                                        <p>
                                            What if you could turn your residents into a Content Engine&trade; that dramatically improves your online reputation and SEO? Community Rewards turns that dream into a reality.
                                        </p>
                                    </div>
                                    <div class="span4 offset1 hidden-phone">
                                        <div class="img">
                                            <img src="https://s3.amazonaws.com/modernmsg/browser-iphone%402x.png" width="300" height="300" alt="">
                                            <img src="https://s3.amazonaws.com/modernmsg/browser1%402x.png" width="240" height="255" alt="">
                                            <img src="https://s3.amazonaws.com/modernmsg/browser-iphone%402x.png" width="300" height="300" alt="">
                                            <img src="../assets/iphone@2x.png" width="144" height="264" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>                            
                        </div>
                        <div class="t-row footer">
                            <footer class="bg-midnight-blue">
                                <div class="container">
                                    <span>Ready for a demo?</span>
                                    <div class="btns">
                                        <!--<a href="#" class="btn btn-primary">Sign In with Twitter</a>--><a href="http://www.modernmsg.com/signup" class="btn btn-primary">Click Here to Signup</a>
                                    </div>
                                </div>
                            </footer>
                            </div>
                    </section>
                </div>
                <div class="pt-page">
                    <section class="header-18-section s2 bg-peter-river clearfix">
                        <div class="t-row">
                        <div>
                      
                        <section class="price-2">
                          <div class="container">
                            <div class="plans">
                              <div class="plan">
                                <div class="title">
                                  SILVER PLAN
                                  <div class="price"><span class="currency">$</span>.50<span class="period">/ UNIT</span>
                                  </div>
                                </div>
                                <div class="description">
                                  <div class="description-box">
                                   Community Rewards App
                                  </div>
                                  <div class="description-box">
                                    Community Reviews App
                                  </div>
                                  
                                  <div class="description-box">
                                    Scratch &amp; Win App
                                  </div>
                                  <div class="description-box">
                                 Analytics Dashboard
                                  </div>
                                  <div class="description-box">
                                    <span class="fui-user"></span><b>free</b>  leads
                                  </div>
                                  <div class="description-box">
                                    Account Rep
                                  </div>
                                  <div class="description-box">
                                    Onsite staff training
                                  </div>
                                </div>
                              </div>
                              <div class="plan plan-2">
                                <div class="title">
                                  GOLD PLAN
                                  <div class="price"><span class="currency">$</span>299<span class="period">/ MO</span>
                                  </div>
                                  <div class="ribbon">NEW</div>
                                </div>
                                 <div class="description">
                                  <div class="description-box">
                                   Community Rewards App
                                  </div>
                                  <div class="description-box">
                                    Community Reviews App
                                  </div>

                                  <div class="description-box">
                                    Scratch &amp; Win App
                                  </div>
                                  <div class="description-box">
                                 Analytics Dashboard
                                  </div>
                                  <div class="description-box">
                                    <span class="fui-user"></span><b>free</b>  leads
                                  </div>
                                  <div class="description-box">
                                    Dedicated Account Rep
                                  </div>
                                  <div class="description-box">
                                    Onsite staff training
                                  </div>
                                  <div class="description-box">
                                    Social Ads Management
                                  </div>
                                </div>
                              </div>
                              <div class="plan">
                                <div class="title">
                                  PLATINUM PLAN
                                  <div class="price"><span class="currency"></span>Contact<span class="period"></span>
                                  </div>
                                </div>
                                <div class="description">
                                  <div class="description-box">
                                   All Gold Level Features
                                  </div>
                                  <div class="description-box">
                                    Social Media Setup Package
                                  </div>

                                  <div class="description-box">
                                    Social Media Management
                                  </div>
                                  <div class="description-box">
                                 24/7 Reputation Management
                                  </div>
                                  <div class="description-box">
                                    Contest Management
                                  </div>
                                  <div class="description-box">
                                    Custom Design
                                  </div>
                                
                                </div>
                            </div>
                          </div>
                          <!--/.container-->
                        </section>
                        </div>                        
                        </div> 
                       
                        <div class="t-row footer">
                            <footer class="bg-midnight-blue">
                              <div class="container">
                                <span>Ready for a demo?</span>
                                <div class="btns">
                                  <!--<a href="#" class="btn btn-inverse">Sign In with Twitter</a>--><a href="http://www.modernmsg.com/signup" class="btn btn-primary">Click Here to Signup</a>
                                </div>
                              </div>
                            </footer>   
                        </div>                       
                    </section>
                
                </div>

                <div class="pt-controls">
                    <div>
                        <a class="pt-control-prev" href="#"><span class="fui-arrow-left"><</span></a>
                    </div>
                    <div>    
                        <a class="pt-control-next" href="#"><span class="fui-arrow-right">></span></a>
                    </div>
                </div>
            </div>
            
        </div>

    </body>
</html>
