
@font-face {
  font-family: avantGarde;
  src: url(/assets/ITCAvantGardePro-Md.otf);
}

img {
  width: auto;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

body {
  font-family: 'avantGarde', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'avantGarde', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.container { 
  max-width: 1170px;
}

.navbar-inverse {background-color: #39434a}
.navbar-inverse .navbar-nav > li > a {
  padding: 5px 25px;
  color: white;
  font-size: 12px;
  &:hover {
    background-color: #6596b5;
  }
}

.navbar-inverse .navbar-nav > .active {
  background-color: #e7e7e7;
}

.navbar {
  margin-bottom: 0;
}
.navbar-nav > li {
  &:hover {
    background-color: #e7e7e7;
  }
  a {
    padding: 15px 30px;
  }
}
.navbar-nav .last {
    margin-right: 0;
    margin-top: 5px;
}
.navbar > .container .navbar-brand {margin-left: 0;}
.navbar-brand {
  padding-bottom: 0;
  &.logo {
    margin-top: 5px;
    background: image-url("logo.png") no-repeat 0 0;
    width: 123px;
    height: 0;
    padding-top: 43px;
    display: block;
    position: relative;
    overflow: hidden;
    background-size: 85%;
  }
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.sign-in {
  margin: 50px 0;
  overflow: hidden;
  a {
    padding: 7px 50px 0 80px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    line-height: 55px;
    display: inline-block;
    font-size: 22px;
    min-width: 200px;
    background: url("facebook.png") no-repeat 35px center #48619f;
    &:hover {
      background: url("facebook.png") no-repeat 35px center rgba(72, 97, 159, 0.79);
    }
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
/*
* Testimonial
*/
.btn2 {
  background: #ffbd1d;
  font-family: 'avantGarde', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 55px;
  color: #282828;
  height: 50px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  min-width: 209px;
  text-align: center;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17), 0px 1px 1px rgba(255, 255, 255, 0.2) inset;
  &:hover {
    background:#f1b31c;
  }

}

.btn4 {
  background: transparent;
  font-weight: 700;
  font-family: 'avantGarde', sans-serif;
  font-size: 18px;
  line-height: 55px;
  color: #282828;
  height: 50px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  min-width: 209px;
  text-align: center;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17), 0px 1px 1px rgba(255, 255, 255, 0.2) inset;
  &:hover {
    text-decoration: underline;
  }

}

#testimonials {
  position: relative;
  z-index: 1000;
  ul {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url("assets/javascripts/vendor/PIE.htc"); // WAT
    position: relative;
    padding: 17px 0px 0px;
    margin: 0;
  }
  li {
    list-style: none;
  }
  .avatar {
    padding-left: 50px;
    padding-top: 7px;
    img {
      border-radius: 50%;
    }
  }
  .review-btn {
    float: right;
  }
  h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: #282828;
    margin: 0px 0px 15px;
  }
  .slide {
    display: none;
    position: absolute;
    &:first-of-type {
      display: block;
    }
  }
  blockquote {
    margin: 0;
    border: 0;
    padding: 0;
    p {
      font-size: 14px;
      line-height: 21px;
      color: #282828;
      margin: 0 25px 0 0;
      padding-right: 15px;
    }
  }
  ul.rating {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 5px 0 0;
  }
  .controls {
    width: 65px;
    padding-top: 7px;
    margin: 0 auto;
    position: relative;
    a {
      background: image-url("icons.png") no-repeat -20px -70px;
      float: left;
      width: 14px;
      height: 14px;
      margin-right: 6px;
      color: #C8C8C6;
      font-size: 10px;
      text-indent: -100px;
      &.activeSlide {
        background-position: 0px -70px;
        color: #E5B526;
      }
    }
  }
}
/* //Testimonial */

.review {
  margin: 7px 0;
  text-align: center;
  a {
    color: #000;
    font-style: italic;
    font-size: 18px;
    font-family: 'open sans', arial, sans-serif;
    line-height: 1.0;
    &:hover {
      text-decoration: none;
    }
    img {
      border-radius: 50%;
      width: 65px;
      border: 5px solid white;
    }
    cite {
      font-size: 12px;
      margin-left: 5px;
      em {
        color: #6596b5;
      }
    }
  }
  .portrait {
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 1;
    margin-top: -2px;
    margin-right: 10px;
    border-radius: 50%;
  }
}

/* Introduction 
*/

.introduction {

  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #6596b5;
    margin: 0px 0px 30px;
  }
  p {
    font-size: 14px;
    line-height: 25px;
    color: #282828;
    margin: 0px 0px 35px;
  }
  .col-sm-4, .col-sm-8 {float:left;}
}

.introduction-tr {
  margin-top:65px;
  h2 {font-size:40px; line-height:40px; font-weight:700; color:#ffffff; margin:0px 0px 30px;}
  p {
    color: #ffffff;
    font-size:16px;
  }
}

.support {
  h4 {text-align: center;color:white;font-size: 20px;margin: 0;}
  h1 {font-size: 45px;}
  img {
    background: white;
    border-radius: 5px;
    width: 30%;
    margin: 70px 0 135px;
    &:hover {
      background: #e7e7e7;
    }
  }
  a {
    margin: 50px 20px;
    &:first-child {margin-left: 0}
    &:last-child {
      margin-right: 0;
    }
  }
}

.support-col {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-right: 85px;
  &:last-child {
    margin-right: 0;
  }
  a {color: white;}
  .step {display: none; }
   ol {font-size: 22px;
    li {
        margin-bottom: 30px;
        cursor: pointer;
        color: #fff;
      }
    }
  .content {
    ul {
      font-size: 14px;
      color:#6596b5;
    }

    h4 {font-size: 22px;}
  }
}

/* Banner */

#banner {
  position: relative;
  background: image-url("bg.jpg") no-repeat center top fixed;
  width: 100%;
  min-height: 550px;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear: both;
    .description {
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 100px;
      padding-top: 100px;
      h2 {
        font-size: 55px;
        line-height: 50px;
        font-weight: 800;
        color: #282828;
        margin: 0px 0px 10px;
      }
      p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: #282828;
        margin: 0px auto;
        width:75%;
        margin-bottom: 25px;
        margin-top: 25px;
      }
      a.take-the-tour {
        font-size: 14px;
        font-weight: 700;
        color: #282828;
        display: block;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
}

#banner2 {
  position:relative; 
  background: image-url("bg.jpg") no-repeat center -170px fixed; 
  width:100%; 
  min-height:721px;
  background-size: cover;
  #content {
    .container {

    }
  }
    .tour-desc{
      text-align:center; 
      margin-bottom:50px; 
      padding-top:50px;
      h2 {
        font-size:40px; 
        line-height:50px; 
        font-weight:800; 
        color:#282828; 
        margin:0px 0px 10px;
      }
      p {font-size: 18px}
    }
    .terms {
      max-width: 70%;
      margin: 0px auto;
      h2 {
        text-align: center;
        font-size: 35px;
        margin: 5% 0;
      }
      h3 {
        margin:0;
      }
      span {
        width: 100%;
        border-bottom: 1px solid black;
        float:left;
      }
      p {
        margin: 20px 0;

      }
      ol li {
        margin-bottom: 15px;
      }
  }
}

#banner3 {
  position:relative; 
  background: image-url("bg.jpg") no-repeat center -120px fixed; 
  width:100%; 
  min-height:750px;
  background-size: cover;
  
    .tour-desc{
      text-align:center; 
      margin-bottom:50px; 
      padding-top:50px;
      h2 {
        font-size:35px; 
        line-height:30px; 
        font-weight:800; 
        color:#282828; 
        margin:0px 0px 10px;
      }
    }
}

/* /Banner */

/* Community Rewards Tour Page */

.callout {float:left;padding: 2% 0;border-top: 1px solid rgba(255, 255, 255, 0.25);border-bottom: 1px solid rgba(255, 255, 255, 0.25);width: 100%;margin-top: 15px;}
.callout2 {float:left;padding: 2% 0;border-top: 1px solid rgba(69, 160, 231, 0.2);border-bottom: 1px solid rgba(69, 160, 231, 0.2);width: 100%;margin-top: 15px;}
.callout p {margin: 1em 0 ;font-size: 14px;color:rgba(255, 255, 255, 0.78);}
.callout ul {margin: 0;}
.callout ul li {color:#fff;}
.callout2 ul {margin: 0;}
.callout2 ul li {color:#6596b5;}



/* myCarousel */

#myCarousel {
  position: relative;
  z-index: 1000;
  margin-bottom: 50px;
  .col-sm-2 {
    float:left;
  }
  ul {
    background: image-url("testimonials-bg.gif") repeat left top;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url("assets/javascripts/vendor/PIE.htc");
    position: relative;
    border-bottom: 1px solid #f1f0ef;
    padding: 17px 0px 25px 0px;
    margin: 0px;
  }
  li {
    list-style: none;
  }
  .avatar {
    padding-left: 50px;
    padding-top: 7px;
  }
  .btn3 {
    float: right;
  }
  h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: #282828;
    margin: 0px 0px 15px;
  }
  blockquote {
    margin: 0;
    p {
      font-size: 14px;
      line-height: 21px;
      color: #282828;
      margin: 0px;
    }
  }
  ul.rating {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 5px 0 0;
  }
  .controls {
    width: 65px;
    padding-top: 7px;
    margin: 0 auto;
    position: relative;
    a {
      background: image-url("icons.png") no-repeat -20px -70px;
      float: left;
      width: 14px;
      height: 14px;
      margin-right: 6px;
      &.active {
        background-position: 0px -70px;
      }
    }
  }
}

#clients {
  position: relative;
  line-height: 1;
  border-radius: 5px;
  background: #39434a;
  .container {
    padding: 25px 15px;
  }
}

.carousel {
  position: relative;
  line-height: 1;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: -25px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 35px;
  font-weight: 100;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: -25px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  right: 48%;
  top: -9999px;
  z-index: 5;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 1px 4px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #ffbd1d;
  margin: 1px 4px;
  width: 10px;
  height: 10px;

}

.carousel-holder {
  margin:15px 25px 10px 15px;
  float:left;
  text-align: center;
  width:12%;
}

.carousel-holder img {
  width:60px;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: -webkit-transform opacity .4s; /*adjust timing here */
         -moz-transition: -moz-transform opacity .4s;
           -o-transition: -o-transform opacity .4s;
              transition: transform opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
/* /myCarousel */

/* Pricing Page
*/

#pricing-table {
  margin: 50px auto;
  text-align: center;
  width: 85%; /* total computed width = 222 x 3 + 226 */
  ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    min-height: 240px;
     li {
      border-top: 1px solid rgba(128, 128, 128, 0.2);
      padding: 6px 0;
      text-align: left;
      font-size:14px;
      span {
        width:20px;
        height:20px;
        background: image-url("icons.png") -122px -105px no-repeat;
        float:right;
        }
      }
    }
  h3 {
      font-size: 2.5em;
      font-weight: 900;
      padding: 20px 20px 0 20px;
      margin: 0;
      span {
        display: block;
        font: bold 25px/100px Georgia, Serif;
        color: #777;
        background: #fff;
        border: 5px solid #fff;
        height: 100px;
        width: 100px;
        margin: 10px auto -65px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
      }
    }
  h5 {
    font-size: 1.5em;
    color: gray;
    small {
      font-size: 12px;
      margin-left: -5px;
    }
  }

  .plan {
    background: rgba(255, 255, 255, 0.8);      
    border: 1px solid #ddd;
    color: rgba(5, 5, 5, 0.7);
    padding: 20px;
    position: relative;
    width: 49%;
    margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      p {
        font-size:16px;
        line-height:15px;
        font-weight:bold;
        margin: 5px 0 10px;  
      }
      &:nth-child(1) {
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; 
    }
      &:nth-child(4) {
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;        
    }
  }        
  #most-popular {
    z-index: 2;
    top: 0;
    color: #333;
    border-width: 1px;
    background: rgba(255, 255, 255, 0.90);
    padding: 30px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    background-image: image-url("deal-banner.png");
    background-repeat: no-repeat;    
  }

  .signup {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;  
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #6596b5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;     
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
    font-size: 18px;
    line-height: 35px;
  }
  .signup:hover {
    background-color: #59839e;
  }
}
.signup1 {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;  
    color: black;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #ffbd1d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;     
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
    font-size: 18px;
    line-height: 35px;
  }
.signup1:hover {
   background-color: #f1b31c;
   color:black;
}

#pricing-table .signup:active, #pricing-table .signup:focus {
  background: #59839e;       
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

#pricing-table .signup1:active, #pricing-table .signup:focus {
  background: #f1b31c;       
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

.introduction.price {
  margin-bottom: 0;
  ul {
    list-style-type:none;
    padding: 0;
  }
  li {
    background: #c6dae6;
    margin: 2px 0;
    padding: 15px 0 15px 20px;
    color: rgba(72, 79, 84, 0.90);
    span {
      background: image-url("icons.png") -150px -103px no-repeat;
      height: 40px;
      width: 50px;
      float: left;
    }
  }
}

.faq {
  padding: 0 5% 0 0;
  h2 {
    font-size: 18px;
    font-weight: 700;
    color:black;
    line-height: 25px;
    margin-bottom: 10px;
    color:rgba(0, 0, 0, 0.75);
  }
  p {
    font-weight: normal;
    font-size: 13px;
  }
}

#demo {
    z-index: 2;
    margin-top: 50px;
    color: #333;
    border-width: 1px;
    background: rgba(255, 255, 255, 0.50);
    padding: 10px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    background-repeat: no-repeat;
    ul {
      list-style-type: none;
      padding: 1% 3%;
      min-height: 100px;
      margin-bottom: 40px;
      li {
        line-height: 18px;
        margin-top: 0;
        padding: 2%;
        margin-right: 5%;
        background: #ffffff;
        border-radius: 5px;
        min-height: 85px;
        border: 1px solid rgb(196, 196, 196);
        &:last-child {
          margin-right: 0;
        }
        span {
          float:left;
          padding: 0 0 0 20px;
          text-align: left;
          font-size: 14px;
        }
        strong {
          font-size:18px;
        }
      }
    input {
      float:left;
      height: 20px;
    }
  }
}

.demo {
  text-align: center;
  margin: 0px auto;
  padding-top: 50px;
  h2 {
    font-size: 35px;
    margin: 0 0 25px 0;
    font-weight: 800;
  }
}

.submit {
    text-align: center;
    margin: 20px 0;
    .signup1 {
      width: 50%;
      height: 50px;
      line-height: 40px;
      font-size: 18px;
    }
  }

/* Clients 
*/

.clients {
  position: relative;
  z-index: 100;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      margin-right: 3%;
      width: 11%;
      text-align: center;
      a {
        display: block;
        cursor: default;
      }
      &.last {
        margin-right: 0;
      }
    }
  }
}

.lt-1280 .clients ul {
  text-align: center;
  li {
    display: inline-block;
    float: none;
  }
}

/* Promotional Flyer */
#promo-footer  {
  background-image: image-url('bg1.jpg');
  .promo-footer {
    padding: 75px 0 50px;
    p span {
      font-size: 18px;
      color: #415f7b;
    }
  }
}

#promotions { 
  background-image: image-url('/assets/bg1.jpg');
  padding-bottom: 100px;
}

#banner4 {
  position: relative;
  background: #4684c5;
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 140% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 100px;
  .promotions {
    margin: 50px 0;
    a {
      color: #39434a;
      text-decoration: underline;
      &:nth-child(2) {margin-left: 10px;}
    }
    .promo-logo {
      width: 80%
    }
    p {
      color:white
    }
  }
  .resident {
    margin: 40px 0;
    strong {
      font-size: 16px;
    }
    img {
      float:left;
      width: 20%;
      margin-right: 20px;
    }
    .callout {
      float: right;
      width: 75%;
      margin:0;
      border: none;
      padding: 3px 0;
      p {
        margin: 0;
        font-size: 35px;
        color:white;
        line-height: 1.25em;
      }
    }
  }
  .promo-img {
    width: 400px;
  }
}

#features {
  background-image: image-url('/assets/bg1.jpg');
   .feature {
      padding: 0 5% 0 28%;
      min-height: 200px;
      &.first {
        background: image-url("Logos/feature1.png") no-repeat;
      }
      &.second {
        background: image-url("Logos/feature2.png") no-repeat;
      }
      &.third {
        background: image-url("Logos/feature3.png") no-repeat;
      }
      &.fourth {
        background: image-url("Logos/feature4.png") no-repeat;
      }
      h2 {
        font-size: 35px;
        letter-spacing: -2px;
        font-weight: normal;
        color:black;
        margin-bottom: 20px;
        color:rgba(0, 0, 0, 0.75);
      }
      p {
        font-weight: normal;
        font-size: 16px;
        color: #39434a;
      }
  }
}

.rewards {
  background: #d4e4ed !important;
  .container {
    padding: 25px 15px;
  }
}


/* Media Queries */
@media (max-width: 1200px) {
  .container {
    max-width: 1050px;
  }

}

@media (max-width: 768px) {
  
  
  .col-sm-6 {
    float:right;
  }
  .introduction-tr.left {
    .col-sm-6 {
      float:left;
    }
  }
}

@media (max-width: 750px) {
  .navbar-nav > li {text-align: center;}
  #pricing-table {
    .plan {
      width: 100%;
      float: none;
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  #promotions {
    padding-bottom: 50px;
    #banner4 {
      .promo-img {
        display: none;
      }
      .promotions {
        .promo-logo {
          width: 100%;
        }
      }
      .resident {
        padding: 0 20%;
        a {
          margin:0;
        }
      }
      .btn2, .btn4 {
        width: 100%;
      }
    }
  }

  #promo-footer {
    .promo-footer {
      text-align: center;
      padding: 50px 0 0px;
      &:last-child {
        padding-bottom: 50px;
      }
    }
  }

  #banner2 {
    .tour-desc {
      padding-top: 150px;
    }
  }
  #testimonial {
    line-height: 0;
    height: 90px;
  }
  .support {
    img {
      width: 30%;
      min-width: 0px;
      margin: 20px 0 0 0;
      &:last-child {
        margin-bottom: 25px;
      }
    }
    a {
      margin: 0;
    }
  }

  .introduction {
    .btn1 {
      min-width: 250px;
      display: block;
      margin: 0px auto 20px;
    }
  }

  #testimonials {
    .avatar {
      text-align: center;
      padding: 10px 0 25px;
      img {border-radius: 50%;}
    }
    .about {
      text-align: center;
    }
    .review-btn {
      float: none;
    }
    ul { height: auto; }
    ul.rating {
      float: none;
      margin: 5px 0;
      li {
        float: none;
        display: inline-block;
      }
    }
    .slide {
      position: relative;
    }
    blockquote {
      p { margin: 0 15px; }
    }
  }
}

@media (max-width: 500px) {

  #promotions {
    #banner4 {
      .btn2 {
        margin: 20px 0;
      }
      .resident {
        padding: 0;
        img {
          margin: 0;
        }
        .callout p {
          font-size: 20px;
        }
      }
    }
  }
  #features {
    .feature {
      padding: 150px 0 0;
      text-align: center;
      &.first {
        background: image-url("Logos/feature1.png") no-repeat center top;
      }
      &.second {
        background: image-url("Logos/feature2.png") no-repeat center top;
      }
      &.third {
        background: image-url("Logos/feature3.png") no-repeat center top;
      }
      &.fourth {
        background: image-url("Logos/feature4.png") no-repeat center top;
      }
    }
  }
  #banner {min-height: 800px;}
  #banner2 {
    .tour-desc {
      padding-top: 150px;
    }
  }

  #testimonial {
    line-height: 25px;
    height: 100px;
    a {
      font-size: 12px;

      img {
        float: left;
      }
    }
  }

  .review .portrait {
    float:left;
    width: 100%;
    height: auto;
  }

  .support {
    img {
      width: 100%;
      margin: 20px 0 0 0;
      &:last-child {margin-bottom: 25px;}
    }
    a {
      margin: 0;
    }
  }

  img.alignleft {
    margin: 40px 10px 10px 0;
  }
  img.alignright1 {
    margin: 40px 10px 10px 0;
  }
  .cr-title {
    &.cr {
      background: url("/assets/cr-title-sm.png") center center no-repeat;
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      float: left;
      .demo {
        display: none;
      }
    }
    &.crev {
      background: url("/assets/crev-logo-sm.png") center center no-repeat;
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      float: left;
      .demo {
        display: none;
      }
    }
    &.so {
      background: url("/assets/so-logo-sm.png") center center no-repeat;
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      float: left;
      .demo {
        display: none;
      }
    }
    &.db {
      background: url("/assets/db-logo-sm.png") center center no-repeat;
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      float: left;
      .demo {
        display: none;
      }
    }
  }
  .clients {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
